
                <!--<div class="form-group"> 
                   <div class="col-sm-offset-2 col-sm-10">
                   <button type="submit" class="btn btn-default">Dergo</button>
                   </div>
                </div>
                <div class="form-group"> 
                   <div class="col-sm-offset-2 col-sm-10">
                   <button type="delete" class="btn btn-default">Fshij</button>
                   </div>
                </div> -->
               <div class="form-group">          
                 <div class="col-xs-offset-3 col-xs-10">
                    <button type="submit" class="btn btn-primary">Dergo</button>
                    <button type="delete" class="btn btn-primary">Fshij</button>
                 </div>
               </div>
    
         </form>
     </div>
 </div>
                  </div>
     </body>

  </html>