

     <body>
         
         <div class="container">
         <!--  <p id="techstitution" class="main"> Techstitution </p> -->
         <div class="row">

          <div class="col s12 m6 l6">


         <!-- <div class="col-xs-offset-3 col-xs-8"> -->

		    <h3 id="forma-e-regjistrimit"> Forma e regjistrimit të pikave kufitare </h3>
          
          <form class="form-horizontal" id="border-wait-form">

          	<input type="hidden" id="datetime-now"/>

              <!-- form group eshte e definuar brenda boostrap -->
			  <div class="form-group form-style-group">
			  <hr></hr>
                <label for="pika-kufitare" class="control-label col-xs-3">Pika kufitare</label>

			      <div class="form-group">
                    <!-- <label for="pikat-kufitare">Zgjedh piken kufitare</label> -->
                    <select id="pika-kufitare" class="control-label col-xs-3.7" name="pika-kufitare"> 
                      <option >Zgjedh pikën kufitare</option>
                      <option value="vermice">Vërmicë</option>
                      <option value="qafe-e-prushit">Qafë e Prushit</option>
                      <option value="qafe-e-morines">Qafë e Morines</option>
                      <option value="kulle">Kullë</option>
                      <option value="bernjak">Bërnjak</option>
                      <option value="jarinje">Jarinje</option>
                      <option value="merdare">Merdarë</option>
                      <option value="mutivode">Mutivodë</option>
                      <option value="dheu-i-bardhe">Dheu i bardhë</option>
                      <option value="muqibabe">Muqibabë</option>
                      <option value="hani-i-elezit">Hani i Elezit</option>
                      <option value="glloboqice">Glloboqicë</option>
                    </select>
                  </div> 
			  </div>

               <hr></hr>
               <p>Hyrje</p>

			  <div class="form-group">

				<label type="text" for="min" class="control-label col-xs-3" name="hyrje-min" >Minimum</label>
				    <div class="col-xs-3">
				      <input type="number" min="0" max="59" class="form-control" id="hyrje-min-minuta">
				    </div>
				    <span style="margin-left:-10px;">minuta<span> 
			  </div>
				
				<div class="form-group">
				  <label type="text" for="max" class="control-label col-xs-3" name="hyrje-max" >Maximum</label>
				   <div class="col-xs-3">
				     <input type="number" min="0" max="59" id="hyrje-max-minuta" class="form-control">
			       </div>
			        <span style="margin-left:-10px;">minuta</span>
			    </div>
			  
			  <p>Dalje</p>
			  <div class="form-group">
				
				<label type="text" for="min" class="control-label col-xs-3" name="dalje-min" >Minimum</label>
				   <div class="col-xs-3">
				     <input type="number" min="0" max="59"  id="dalje-min-minuta" class="form-control">
				   </div>
				   <span style="margin-left:-10px;">minuta</span> 
			  </div>
				
				<div class="form-group">
				  <label type="text" for="max" class="control-label col-xs-3" name="dalje-max" >Maximum</label>
				  <div class="col-xs-3">
				    <input type="number" min="0" max="59"  id="dalje-max-minuta" class="form-control">
                  </div>
                  <span style="margin-left:-10px;">minuta</span>
                </div>
	
	              <hr></hr>	


		       	  <p>Hyrje</p>

			<div class="form-group">


				<label type="text" for="min" class="control-label col-xs-3" name="hyrje-min" >Minimum</label>
				    <div class="col-xs-3">
				      <input type="number"  min="0" class="form-control" id="hyrje-min-metra">
				    </div>
				    <span style="margin-left:-10px;">metra<span> 
			  </div>
				
				<div class="form-group">
				  <label  type="text" for="max" class="control-label col-xs-3" name="hyrje-min" >Maximum</label>
				   <div class="col-xs-3">
				     <input type="number"  min="0" id="hyrje-max-metra" class="form-control">
			       </div>
			       <span style="margin-left:-10px;">metra</span>
			    </div>
			  
			  <p>Dalje</p>
			  <div class="form-group">				

				<label type="text" for="min" class="control-label col-xs-3" name="dalje-metra-min" >Minimum</label>
				   <div class="col-xs-3">
				     <input type="number"  min="0" id="dalje-min-metra" class="form-control">
				   </div>
				   <span style="margin-left:-10px;">metra</span> 
			  </div>
				
				<div class="form-group">
				  <label type="text" for="max" class="control-label col-xs-3" name="dalje-max" >Maximum</label>
				  <div class="col-xs-3">
				    <input type="number" min="0" id="dalje-max-metra" class="form-control">
                  </div>
                  <span style="margin-left:-10px;">metra</span>
                </div>
